 @media only screen and (max-width: 400px) {
     .Cart_Orders {
         flex-wrap: wrap;
         justify-content: center;
         text-align: center;
     }
 }

 @media screen and (max-width: 1300px) and (min-width: 900px) {
     .Cart_Orders {
         flex-wrap: wrap;
         justify-content: center;
         text-align: center;
     }
 }